body{
  background: url(img3.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   /* height: 800px; */
   width:100%;
}
input{
  width: 20%;
 padding: 6px 10px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 align-self:flex-end;
}
h1,p{
  font-family: 'Montserrat', sans-serif;
}
p{
  color:#381105;
  weight:500;
  font-size: 2rem;
  grid-row-start: 1;
  grid-row-end: 2;
}
h1{
  color: #381105;
  weight:600;
  font-size: 1.5rem;
  /* border: 5px solid black; */
  width: 100%;
  grid-row-start: 2;
  grid-row-end: 3
  /* padding-top: 50px; */
  /* position: relative; */
  /* bottom: 100px; */
}
.container{
  display: grid;
  column-gap: 20px;
  row-gap:20px;
  grid-column-start: 2;
  grid-column-end: 3;
}
.field{
  list-style: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  grid-row-start: 3;
  grid-row-end: 4;
}
.bfeild{
  color: black;
  font-weight: 500;
  border: 10px;
  grid-row-start: 4;
  grid-row-end: 5;
}
